 <!-- {% if session['username']%}
    <nav class = 'navbar navbar-expand-lg navbar-light bg-dark'>
        <div class = 'container-flud'>
            <a class = 'navbar-brand text-white' href = '/user/{{user.id}}'>{{user.restaurant_name}}</a>
            <div class = 'collapse navbar-collapse' id = 'navbarSupportedContent'>
                <ul class = 'navbar-nav me-auto mb-2 mb-lg-0'>
                    <li class = 'nav-item dropdown'>
                        <a class = 'nav-link dropdown-toggle text-white' href = '#' id = 'navbarDropdown' role = 'button' data-bs-toggle = 'dropdown' aria-expanded="false" >Restaurant Pages</a>

                <ul class = 'dropdown-menu' aria-labelledby="navbarDropdown">
                    <li>
                        <a class = 'dropdown-item' href = '/sales'>Sales Forecasting</a>
                    </li>
                    <li>
                        <a class = 'dropdown-item' href = '/inventory_home_page/{{user.id}}'>Inventory</a>
                    </li>
                    <li>
                        <a class = 'dropdown-item' href = '/historic_sales/{{user.id}}'>{{user.restaurant_name}} Historic Sales</a>
                    </li>
                    <li>
                        <a class = 'dropdown-item' href = '/edit_profile'>Edit Profile</a>
                    </li>
                    <li>
                        <a class = 'dropdown-item' href = '/user/{{user.id}}'>{{user.restaurant_name}} Home Page</a>
                    </li>
                    <li>
                    <a class = 'dropdown-item' href = '/logout'>LogOut</a>
                        </li>   
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    {% else %}
    <nav class = 'navbar navbar-expand-lg navbar-light bg-dark'>
        <div class = 'collapse navbar-collapse' id = 'navbarSupportedContent'>
            <ul class = 'navbar-nav me-auto mb-2 mb-lg-0'>
                <li class = 'nav-item'>
        <a class = 'nav-link active text-white' aria-current = 'page' href = '/sign_up'>Sign Up</a>
            </li>
            <li class = 'nav-item'>
        <a class = 'nav-link active text-white' aria-current = 'page' href = '/login'>Log In</a>  
        </li>
    </ul>  
    </div>
    </nav>
    {% endif %} -->